<!DOCTYPE html>
<html>
<head>
  <title>SportUp Bot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
  <div class='container'>
    <h1>Активные события</h1>

    <table class='table'>
      <thead>
        <tr>
          <th>№</th>
          <th>Название</th>
          <th>Адрес</th>
          <th>Участников</th>
          <th>Дата начала</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% Event.all.each do |event| %>
          <tr>
            <td><a href="/events/<%= event.id %>"><%= event.id %></a></td>
            <td><%= event.name %></td>
            <td><%= event.address %></td>
            <td><%= "#{event.members_count}/#{event.user_limit}" %></td>
            <td><%= event.starting_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
